.aboutContainer {
  background-color: #fff;
}

.aboutContent {
  width: 70%;
  margin: 10em auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.aboutImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutImage img {
  width: 50%;
  height: auto;
}

.aboutDescription {
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutDescription .aboutHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.aboutDescription .aboutHeader h1 {
  margin-right: 7px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1.6em;
}

.aboutDescription .aboutHeader h1:nth-child(1) {
  border-bottom: 3px solid #ff3d1d;
}

.aboutDescription .aboutTagline {
  margin-top: 15px;
}

.aboutDescription .aboutTagline p {
  font-family: var(--tagline-text-font-family);
}

.aboutButton {
  margin-top: 4.5em;
}

.aboutButton button {
  background-color: #ff3d1d;
  color: #e3e5e5;
  width: 150px;
  height: 60px;
  border: none;
  border-radius: 5px;
  font-family: var(--tagline-text-font-family);
  font-size: 1em;
  cursor: pointer;
}

/*======Desktops and Laptops (1024 x 600 - 768)========*/

@media (min-width: 1024px) and (max-width: 1024px) and (min-height: 600px) and (max-height: 768px) {
  .aboutContent {
    width: 83%;
    margin: 9em auto;
  }

  .aboutImage img {
    width: 60%;
  }

  .aboutDescription .aboutHeader h1 {
    margin-right: 5px;
    font-size: 1em;
  }

  .aboutDescription .aboutTagline {
    margin-top: 10px;
  }

  .aboutDescription .aboutTagline p {
    font-size: 0.9em;
  }

  .aboutButton button {
    width: 140px;
    height: 50px;
    font-size: 0.9em;
  }
}

/*=======Smartphones (375)==========*/
@media (min-width: 375px) and (max-width: 767px) {
  .aboutContent {
    width: 90%;
    margin: 4.5em auto;
    grid-template-columns: 1fr;
    gap: 2em;
  }

  .aboutImage img {
    width: 60%;
  }

  .aboutDescription .aboutHeader h1 {
    margin-right: 4px;
    font-size: 1em;
  }

  .aboutDescription .aboutTagline {
    margin-top: 10px;
  }
  
  .aboutDescription .aboutTagline p {
    font-size: 0.9em;
    font-weight: 100;
  }

  .aboutButton {
    margin-top: 3em;
  }
  
  .aboutButton button {
    width: 140px;
    height: 50px;
    font-size: 0.9em;
  }
  
}
