.aftershowcaseContainer {
  background-color: #fff;
}

.aftershowcaseContent {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5em;
}

.iconBox {
  background-color: var(--top-bar);
  height: 26vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 500;
  margin-top: -16%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.iconBox .icon {
  font-size: 3.5em;
  color: #fff;
}

.iconBox h1 {
  font-size: 2em;
  font-family: sans-serif;
  color: #fff;
  margin-top: 10px;
}

/*======Desktops and Laptops (1024 x 600 -768)========*/

@media (min-width: 1024px) and (max-width: 1024px) and (min-height: 600px) and (max-height: 768px) {
  .aftershowcaseContent {
    width: 83%;
  }

  .iconBox {
    background-color: var(--top-bar);
    height: 26vh;
    z-index: 500;
    margin-top: -20%;
    border-radius: 10px;
  }

  .iconBox .icon {
    font-size: 2.5em;
  }

  .iconBox h1 {
    font-size: 1.1em;
    margin-top: 8px;
  }
}

/*=======Smartphones (375)==========*/
@media (min-width: 375px) and (max-width: 767px) {
  .aftershowcaseContent {
    width: 90%;
    grid-template-columns: 1fr;
    gap: 2em;
  }

  .iconBox {
    background-color: var(--top-bar);
    height: 26vh;
    margin-top: -5%;
    border-radius: 15px;
  }

  .iconBox .icon {
    font-size: 2.5em;
  }

  .iconBox h1 {
    font-size: 1.1em;
    margin-top: 10px;
  }
}
