.container {
   width: auto;
}

.containerHeader {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 5%;
}

.containerHeader h1 {
   font-size: 23px;
   text-transform: uppercase;
   font-family: sans-serif;
}

.containerItems {
   width: 80%;
   margin: 5% auto;
}

.item {
   width: 100%;
   margin-bottom: 5%;
}

.item .itemHeader {
   display: flex;
   justify-content: center;
   align-items: center;
}

.item .itemHeader h1 {
   font-size: 21px;
   font-family: serif;
   color: #f85a40;
}

.itemContent {
   width: 50%;
   margin: 1% auto;
}

.itemContent p {
   font-family: serif;
   text-align: center;
}

@media (max-width:700px) {
   .container {
      width: 100%;
   }

   .containerHeader {
      margin-top: 10%;
   }

   .containerHeader h1 {
      font-size: 19px;
      text-align: center;
   }

   .containerItems {
      width: 100%;
      margin: 5% auto;
   }

   .item {
      width: 100%;
      margin-bottom: 5%;
   }

   .item .itemHeader {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .item .itemHeader h1 {
      font-size: 21px;
      font-family: serif;
      color: #f85a40;
   }

   .itemContent {
      width: 95%;
      margin: 1% auto;
   }

   .itemContent p {
      font-family: serif;
      text-align: center;
   }
}