.contactContainer {
  background-color: #fff;
}

.contactContent {
  width: 70%;
  margin: 8% auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.contactBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactBox .icon {
  background-color: #ff3d1d;
  color: #fff;
  font-size: 4em;
  padding: 15px;
  border-radius: 50%;
}

.contactBoxHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.contactBoxHeader h1 {
  font-size: 1em;
  font-family: sans-serif;
}

.contactBoxHeader p {
  font-family: var(--tagline-text-font-family);
  margin-left: 2px;
}

.contactFormContainer {
  width: 70%;
  margin: 1% auto;
}

@media (max-width: 700px) {
  .contactContent {
    width: 90%;
    grid-template-columns: 1fr;
    gap: 10%;
    padding-bottom: 30%;
    margin-top: 15%;
  }

  .contactBox .icon {
    background-color: #ff3d1d;
    font-size: 3em;
    padding: 10px;
    border-radius: 50%;
  }

  .contactBoxHeader h1 {
    font-size: 0.9em;
  }

  .contactBoxHeader p {
    font-size: 0.9em;
  }
}
