.feedbackContainer {
  background-color: #fff;
  margin-top: 15em;
}

.feedbackContainerHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedbackContainerHeader h1 {
  margin-right: 9px;
  text-transform: uppercase;
  font-size: 1.6em;
  font-family: sans-serif;
}

.feedbackContainerHeader h1:nth-child(2) {
  border-bottom: 2px solid #ff3d1d;
}

.feedbackContent {
  width: 70%;
  margin: 0 auto;
  display: grid;
  margin-top: 7em;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5em;
}

.feedback {
  background-color: #ff3d1d;
  height: 35vh;
  padding: 2em;
  border-radius: 5px;
}

.feedback .feedbackImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback .feedbackImage img {
  width: 25%;
  height: auto;
  border-radius: 50%;
}

.feedback h1 {
  font-size: 1.1em;
  text-align: center;
  margin-top: 0.6em;
  text-transform: uppercase;
  color: #fff;
  font-family: sans-serif;
}

.feedback p {
  font-family: var(--tagline-text-font-family);
  font-size: 1em;
  color: #e3e5e5;
  text-align: center;
  margin-top: 2em;
}

.feedbackButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.5em;
}

.feedbackButtons .icon:nth-child(1) {
  margin-right: 1em;
  background-color: #e3e5e5;
  font-size: 4em;
  color: var(--top-bar);
  padding: 0.2em;
  border-radius: 50%;
  cursor: pointer;
}

.feedbackButtons .icon:nth-child(2) {
  background-color: #e3e5e5;
  font-size: 4em;
  color: var(--top-bar);
  padding: 0.2em;
  border-radius: 50%;
  cursor: pointer;
}

/*======Desktops and Laptops (1024 x 600 -768)========*/

@media (min-width: 1024px) and (max-width: 1024px) and (min-height: 600px) and (max-height: 768px) {
  .feedbackContainer {
    margin-top: 8em;
  }

  .feedbackContainerHeader h1 {
    margin-right: 8px;
    font-size: 1em;
  }

  .feedbackContent {
    width: 83%;
    margin-top: 2.5em;
    gap: 3em;
  }

  .feedback {
    background-color: #ff3d1d;
    height: 45vh;
    padding: 1.5em;
  }

  .feedback .feedbackImage img {
    width: 35%;
  }

  .feedback h1 {
    font-size: 0.8em;
    text-align: center;
    margin-top: 0.6em;
    text-transform: uppercase;
    color: #fff;
    font-family: sans-serif;
  }

  .feedback p {
    font-family: var(--tagline-text-font-family);
    font-size: 0.9em;
    margin-top: 1em;
  }

  .feedbackButtons {
    margin-top: 3em;
  }

  .feedbackButtons .icon:nth-child(1) {
    margin-right: 0.9em;
    font-size: 3em;
  }

  .feedbackButtons .icon:nth-child(2) {
    font-size: 3em;
  }
}

/*=======Smartphones (375)==========*/
@media (min-width: 375px) and (max-width: 767px) {
  .feedbackContainer {
    margin-top: 0em;
  }

  .feedbackContainerHeader h1 {
    margin-right: 7px;
    font-size: 1em;
  }

  .feedbackContent {
    width: 90%;
    grid-template-columns: 1fr;
    margin-top: 2em;
    gap: 2em;
  }

  .feedback {
    background-color: #ff3d1d;
    height: 35vh;
    padding: 2em;
    border-radius: 5px;
  }

  .feedback h1 {
    font-size: 0.9em;
  }

  .feedback p {
    font-size: 0.9em;
    margin-top: 1em;
  }

  .feedbackButtons {
    margin-top: 2.5em;
  }

  .feedbackButtons .icon:nth-child(1) {
    margin-right: 0.4em;
    font-size: 3em;
  }

  .feedbackButtons .icon:nth-child(2) {
    font-size: 3em;
  }
}
