/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Metropolis Bold";
  src: url("../../public/fonts/Metropolis-Bold.otf");
}

@font-face {
  font-family: "Metropolis Light";
  src: url("../../public/fonts/Metropolis-Light.otf");
}

@font-face {
  font-family: "Metropolis Regular";
  src: url("../../public/fonts/Metropolis-Regular.otf");
}

@font-face {
  font-family: "ArianaProBold";
  src: url("../../public/fonts/ArianaProBold.otf");
}

@font-face {
  font-family: "ArianaProLight";
  src: url("../../public/fonts/ArianaProLight.otf");
}

@font-face {
  font-family: "fontspring";
  src: url("../../public/fonts/Fontspring-DEMO-breulgroteskb-black.otf");
}

@font-face {
  font-family: "fontspring-regular";
  src: url("../../public/fonts/Fontspring-DEMO-breulgroteskb-regular.otf");
}

@font-face {
  font-family: "ruhma";
  src: url("../../public/fonts/Ruhma\ Font\ Regular.otf");
}

@font-face {
  font-family: "nexa-light";
  src: url("../../public/fonts/NexaLight.otf");
}

@font-face {
  font-family: "nexa-bold";
  src: url("../../public/fonts/NexaBold.otf");
}




::-webkit-scrollbar {
  width: 3px;
}

/* Set the appearance of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #008373;
}

::-webkit-scrollbar-track {
  background: #2f353d;
}
