* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --top-bar: #008374;
  --top-bar-bg-dark: #076c61;
  --default-bg-color: #fff;
  --default-text-color: #000;
  --tagline-text-font-family: "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  --header-font-family: sans-serif;
}
