/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Metropolis Bold";
  src: url("../../public/fonts/Metropolis-Bold.otf");
}

@font-face {
  font-family: "Metropolis Light";
  src: url("../../public/fonts/Metropolis-Light.otf");
}

@font-face {
  font-family: "Metropolis Regular";
  src: url("../../public/fonts/Metropolis-Regular.otf");
}

@font-face {
  font-family: "ArianaProBold";
  src: url("../../public/fonts/ArianaProBold.otf");
}

@font-face {
  font-family: "ArianaProLight";
  src: url("../../public/fonts/ArianaProLight.otf");
}
