.businessContainer {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 100vh;
   overflow: hidden;
   width: 100%;
}

.backgroundImage {
   background-image: url('/Handshake-Depositphotos.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   filter: brightness(50%);
   height: 100%;
   width: 100%;
   position: absolute;
}

.contentContainer {
   position: absolute;
   width: 100%;
   text-align: center;
   animation: fadeInSlideUp 3s ease-in-out forwards;
   background-color: rgba(0, 0, 0, 0.2);
   padding: 5px;
}

.contentContainer h1 {
   animation: fadeInSlideUp 3s ease-in-out forwards;
   text-align: center;
   font-family: Helvetica, ;
}

.contentContainer h1:nth-child(1) {
   font-size: 6em;
   color: #fff;
   text-transform: uppercase;
}

.contentContainer h1:nth-child(2) {
   font-size: 5em;
   color: #f85a40;
   text-transform: uppercase;
   font-weight: 900;
}

@keyframes fadeInSlideUp {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}


@media (max-width:700px) {
   .contentContainer h1:nth-child(1){
      font-size: 2em;
   }
   .contentContainer h1:nth-child(2){
      font-size: 2em;
   }
}