.businessContainer {
   position: relative;
   height: 100vh;
   overflow: hidden;
   width: 100%;
}

.backgroundImage {
   background-image: url('/Handshake-Depositphotos.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   filter: brightness(50%);
   height: 100%;
   width: 100%;
   position: absolute;
}

.contentContainer {
   position: absolute;
   width: 100%;
   text-align: center;
   animation: fadeInSlideUp 2s ease-in-out forwards;
   background-color: rgba(0, 0, 0, 0.2);
   padding: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
}

.contentContainer h1 {
   animation: fadeInSlideUp 2s ease-in-out forwards;
   text-align: center;
   font-family: Helvetica, ;
}

.contentContainer h1:nth-child(1) {
   font-size: 6em;
   color: #fff;
   text-transform: uppercase;
}

.contentContainer h1:nth-child(2) {
   font-size: 5em;
   color: #f85a40;
   text-transform: uppercase;
   font-weight: 900;
}

@keyframes fadeInSlideUp {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}


.newContentContainer {
   position: absolute;
   width: 100%;
   text-align: center;
   height: 100vh;
   overflow-y: scroll;
}

.newContentContainerHeader {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 1%;
}

.newContentContainerHeader h1 {
   font-size: 2em;
   color: #fff;
   font-family: Helvetica;
}

.newContentContainerHeader p {
   font-size: 1.5em;
   margin-top: 20px;
   color: #eeeeee;
}

.introductionContainer {
   width: 50%;
   margin: 2% auto;
}

.introductionContainer p {
   font-size: 1.3em;
   color: #eeeeee;
}

.offerContainer {
   width: 50%;
   margin: 2% auto;
}

.offerContainer p {
   font-size: 1.3em;
   color: #eeeeee;
}

.offerContainer h1 {
   font-size: 1.8em;
   color: #f85a40;
   margin-top: 4%;
   text-transform: uppercase;
}

.offerContainer ul li {
   font-size: 1.3em;
   color: #fff;
   text-align: left;
   margin-bottom: 20px;
}

.cta {
   margin-top: 4%;
}

.cta button {
   width: 200px;
   height: 60px;
   background-color: #f85a40;
   color: #fff;
   font-weight: 700;
   font-size: 1.3em;
}

@media (max-width:700px) {
   .contentContainer h1:nth-child(1) {
      font-size: 2em;
   }

   .contentContainer h1:nth-child(2) {
      font-size: 2em;
   }

   .newContentContainerHeader h1 {
      font-size: 1.2em;
   }

   .newContentContainerHeader p {
      font-size: 1em;
   }

   .introductionContainer {
      width: 95%;
      margin: 5% auto;
   }

   .introductionContainer p {
      font-size: 1.1em;
   }

   .offerContainer {
      width: 95%;
      margin: 5% auto;
   }

   .offerContainer h1 {
      font-size: 1.2em;
   }

   .offerContainer p {
      font-size: 1.1em;
   }

   .offerContainer ul li {
      font-size: 1em;
   }
}