.teamHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.teamHeader h1 {
  margin-right: 7px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1.6em;
}

.teamHeader h1:nth-child(2) {
  border-bottom: 3px solid #ff3d1d;
}

.teamContent {
  width: 70%;
  margin: 0 auto;
  margin-top: 4%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
}

.memberContainer {
  background-color: #fafafa;
  height: auto;
  padding: 10px;
  border-radius: 20px;
}

.memberPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.memberPhoto img {
  width: 50%;
  height: auto;
}

.memberName {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.memberName h1 {
  font-size: 1.5em;
  font-family: sans-serif;
}

.memberPosition {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.memberPosition p {
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ff3d1d;
}

.memberSocial {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.memberSocial .icon {
  margin-right: 4%;
}

.memberSocial .icon:nth-child(1) {
  color: green;
}

.memberSocial .icon:nth-child(2) {
  color: blue;
}

/*=======Smartphones (375)==========*/
@media (min-width: 375px) and (max-width: 767px) {
  .teamContent {
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    gap: 2em;
	margin-top: 10%;
  }

  .teamHeader{
	margin-top: 20%;
  }

  .teamHeader h1 {
    margin-right: 4px;
    font-size: 1em;
  }

  .memberPhoto img {
    width: 60%;
    height: auto;
  }

  .memberName h1 {
    font-size: 1.1em;
  }

  .memberPosition p {
    font-size: 0.9em;
  }
}
