.navigationContainer {
  background-color: var(--top-bar);
  height: auto;
  width: 100%;
  height: 13vh;
  position: sticky;
  top: 0;
  z-index: 900;
}

.navigationContent {
  width: 71%;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigationContent .companyLogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navigationContent .companyLogo h1 {
  font-size: 1.3em;
  font-family: sans-serif;
  color: #fff;
  margin-left: 0.2em;
}

.navigationContainer .companyLogo img {
  width: 15%;
  height: auto;
}

.linksContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.linksContainer a {
  color: #e3e5e5;
  text-decoration: none;
  margin-left: 3em;
  font-family: var(--tagline-text-font-family);
  font-size: 1.1em;
  font-weight: 500;
}

.linksContainer a:hover {
  color: #fff;
}

.menuIcon {
  display: none;
}

/*======Desktops and Laptops (1024 x 600 -768)========*/

@media (min-width: 1024px) and (max-width: 1024px) and (min-height: 600px) and (max-height: 768px) {
  .menuIcon {
    display: none;
  }
  .navigationContainer {
    height: 12vh;
  }
  .navigationContent {
    width: 85%;
    padding-top: 3.5vh;
    padding: 0;
  }

  .navigationContent .companyLogo h1 {
    font-size: 1em;
    margin-left: 0.2em;
  }

  .navigationContainer .companyLogo img {
    width: 13%;
  }

  .linksContainer a {
    margin-left: 2em;
    font-size: 1em;
  }
}

/*======Desktops and Laptops (1280 - 1366 x 768 - 800)========*/

@media (min-width: 1280px) and (max-width: 1366px) and (min-height: 768px) and (max-height: 800px) {
  .menuIcon {
    display: none;
  }
  .navigationContainer {
    height: 12vh;
  }
  .navigationContent {
    width: 80%;
    padding-top: 3.5vh;
    padding: 0;
  }

  .navigationContent .companyLogo h1 {
    font-size: 1em;
    margin-left: 0.2em;
  }

  .navigationContainer .companyLogo img {
    width: 13%;
  }

  .linksContainer a {
    margin-left: 2em;
    font-size: 1em;
  }
}

/*======Desktops and Laptops (1440 -1680  x 900 - 1050)========*/

@media (min-width: 1440px) and (max-width: 1680px) and (min-height: 900px) and (max-height: 1050px) {
  .menuIcon {
    display: none;
  }
  .navigationContainer {
    height: 12vh;
  }
  .navigationContent {
    width: 70%;
    padding-top: 3.5vh;
    padding: 0;
  }

  .navigationContent .companyLogo h1 {
    font-size: 1.05em;
    margin-left: 0.2em;
  }

  .navigationContainer .companyLogo img {
    width: 13%;
  }

  .linksContainer a {
    margin-left: 2em;
    font-size: 1.05em;
  }
}

/*======Desktops and Laptops (1920  x  1080 - 1200)========*/

@media (min-width: 1920px) and (max-width: 1920px) and (min-height: 1080px) and (max-height: 1200px) {
  .menuIcon {
    display: none;
  }
  .navigationContainer {
    height: 12vh;
  }
  .navigationContent {
    width: 70%;
    padding-top: 3.5vh;
    padding: 0;
  }

  .navigationContent .companyLogo h1 {
    font-size: 1.4em;
    margin-left: 0.2em;
  }

  .navigationContainer .companyLogo img {
    width: 19%;
  }

  .linksContainer a {
    margin-left: 2em;
    font-size: 1.17em;
  }
}

/*======Desktops and Laptops (2560  x  1440)========*/

@media (min-width: 2560px) and (max-width: 2560px) and (min-height: 1440px) and (max-height: 1440px) {
  .menuIcon {
    display: none;
  }
  .navigationContainer {
    height: 12vh;
  }
  .navigationContent {
    width: 70%;
    padding-top: 3.5vh;
    padding: 0;
  }

  .navigationContent .companyLogo h1 {
    font-size: 1.8em;
    margin-left: 0.2em;
  }

  .navigationContainer .companyLogo img {
    width: 23%;
  }

  .linksContainer a {
    margin-left: 2em;
    font-size: 1.3em;
  }
}

/*======Desktops and Laptops (3840 - 4096  x  2160 - 2304)========*/

@media (min-width: 3840px) and (max-width: 4096px) and (min-height: 2160px) and (max-height: 2304px) {
  .menuIcon {
    display: none;
  }
  .navigationContainer {
    height: 12vh;
  }
  .navigationContent {
    width: 70%;
    padding-top: 3.5vh;
    padding: 0;
  }

  .navigationContent .companyLogo h1 {
    font-size: 1.8em;
    margin-left: 0.2em;
  }

  .navigationContainer .companyLogo img {
    width: 23%;
  }

  .linksContainer a {
    margin-left: 2em;
    font-size: 1.3em;
  }
}

/*======Desktops and Laptops (5120  x  2880)========*/

@media (min-width: 5120px) and (max-width: 5120px) and (min-height: 2880px) and (max-height: 2880px) {
  .menuIcon {
    display: none;
  }
  .navigationContainer {
    height: 8vh;
  }
  .navigationContent {
    width: 70%;
    padding-top: 3.5vh;
    padding: 0;
  }

  .navigationContent .companyLogo h1 {
    font-size: 2.5em;
    margin-left: 0.2em;
  }

  .navigationContainer .companyLogo img {
    width: 25%;
  }

  .linksContainer a {
    margin-left: 2em;
    font-size: 1.6em;
  }
}

/*=======Smartphones (375)==========*/
@media (min-width: 375px) and (max-width: 767px) {
  .navigationContainer {
    background-color: var(--top-bar);
    height: 10vh;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 900;
  }

  .navigationContent {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigationContent .companyLogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .navigationContent .companyLogo h1 {
    font-size: 1.1em;
    font-family: sans-serif;
    color: #fff;
    margin-left: 0.2em;
  }

  .navigationContainer .companyLogo img {
    width: 15%;
    height: auto;
  }

  .linksContainer {
    display: none;
  }
  .menuIcon {
    display: block;
  }

  .menuIcon .icon {
    color: #e3e5e5;
  }

  .sideMenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 70%;
    background-color: #333;
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
  }

  .menuLogoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .menuLogoContainer img {
    width: 50%;
    height: auto;
  }

  .menuLogoContainer h2 {
    color: #fff;
    margin-top: 0.2em;
    font-family: sans-serif;
  }

  .menuLinks {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .menuLinks a {
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: var(--tagline-text-font-family);
  }

  .menuLinks a:hover {
    color: #ff3d1d;
  }
}
