.serviceContainer {
	background-color: #fff;
  }
  
  .serviceContent {
	width: 70%;
	margin: 8% auto;
  }
  
  .serviceContentHeader {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .serviceContentHeader h1 {
	margin-left: 7px;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 1.35em;
  }
  
  .serviceContentHeader h1:nth-child(2) {
	border-bottom: 2px solid #ff3d1d;
  }
  
  .serviceBoxContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 5em;
	margin-top: 4.5%;
  }
  
  .servicebox {
	background-color: #ff3d1d;
	height: 30vh;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  
  
  .servicebox .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.5em;
	font-size: 3em;
	color: var(--top-bar);
  }
  
  .servicebox h1 {
	font-size: 0.9em;
	text-align: center;
	font-family: sans-serif;
	text-transform: uppercase;
	margin-top: 0.8em;
	color: #fff;
  }
  
  .servicebox p {
	text-align: center;
	margin-top: 1em;
	font-size: 1em;
	color: #fff;
	font-family: var(--tagline-text-font-family);
	font-weight: 100;
  }
  
  .serviceContentButton {
	margin-top: 4.5em;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .serviceContentButton button {
	background-color: #ff3d1d;
	color: #fff;
	width: 150px;
	height: 60px;
	border: none;
	border-radius: 5px;
	font-family: var(--tagline-text-font-family);
	font-size: 1em;
	cursor: pointer;
  }
  
  /*======Desktops and Laptops (1024 x 600 -768)========*/
  
  @media (min-width: 1024px) and (max-width: 1024px) and (min-height: 600px) and (max-height: 768px) {
	.serviceContent {
	  width: 83%;
	  margin: 8em auto;
	}
  
	.serviceContentHeader h1 {
	  margin-left: 4px;
	  font-size: 1em;
	}
  
	.serviceBoxContainer {
	  display: grid;
	  gap: 3em;
	  margin-top: 2.5em;
	}
  
	.servicebox {
	  background-color: var(--top-bar);
	  height: 35vh;
	  padding: 5px;
	}
  
	.servicebox .icon {
	  margin-top: 0.3em;
	  font-size: 2.5em;
	}
  
	.servicebox h1 {
	  font-size: 0.9em;
	  margin-top: 0.5em;
	  text-align: center;
	}
  
	.servicebox p {
	  margin-top: 0.7em;
	  font-weight: 100;
	  font-size: 0.9em;
	}
  
	.serviceContentButton {
	  margin-top: 3em;
	}
  
	.serviceContentButton button {
	  width: 140px;
	  height: 50px;
	  font-size: 0.9em;
	}
  }
  
  /*=======Smartphones (375)==========*/
  @media (min-width: 375px) and (max-width: 767px) {
	.serviceContent {
	  width: 90%;
	  margin: 5em auto;
	}
  
	.serviceContentHeader h1 {
	  margin-left: 5px;
	  font-size: 1em;
	}
  
	.serviceBoxContainer {
	  grid-template-columns: 1fr;
	  gap: 1.5em;
	  margin-top: 1.5em;
	}
  
	.servicebox {
	  height: auto;
	  padding: 10px;
	}
  
	.servicebox .icon {
	  font-size: 2em;
	}
  
	.servicebox h1 {
	  font-size: 0.9em;
	  margin-top: 0.5em;
	  color: #e3e5e5;
	}
  
	.servicebox p {
	  text-align: center;
	  margin-top: 1em;
	  font-size: 0.9em;
	  font-weight: 100;
	}
  
	.serviceContentButton {
	  margin-top: 3em;
	}
	
	.serviceContentButton button {
	  width: 140px;
	  height: 50px;
	  font-size: 0.9em;
	}
  }
  