.showcaseContainer {
  background-color: var(--top-bar);
  height: 60vh;
}

.showcaseContent {
  width: 70%;
  margin: 0 auto;
  padding-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.heroDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.heroDescriptionHeader h1 {
  color: #fff;
  font-family: sans-serif;
  font-size: 2.5em;
}

.heroDescriptionTagline {
  margin-top: 10px;
  width: 80%;
}

.heroDescriptionTagline p {
  font-family: var(--tagline-text-font-family);
  font-size: 1em;
  color: #e3e5e5;
}

.heroDescriptionButton {
  margin-top: 4em;
  display: flex;
}

.heroDescriptionButton button {
  background-color: #248d81;
  border: none;
  border-radius: 50px;
  width: 160px;
  height: 70px;
  color: #fff;
  margin-right: 3em;
}

.watchVideoButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.watchVideoButton .icon {
  font-size: 2.5em;
  margin-right: 7px;
  color: #ff3d1d;
}

.watchVideoButton h1 {
  font-size: 1em;
  font-family: var(--tagline-text-font-family);
  font-weight: 100;
}

.heroImageContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.heroImageContainer img {
  height: auto;
  width: 100%;
}

/*======Desktops and Laptops (1024 x 600 -768)========*/

@media (min-width: 1024px) and (max-width: 1024px) and (min-height: 600px) and (max-height: 768px) {
  .showcaseContent {
    width: 83%;
  }

  .heroDescriptionHeader h1 {
    font-size: 1.5em;
  }

  .heroDescriptionTagline {
    width: 90%;
  }
  .heroDescriptionTagline p {
    font-size: 0.9em;
  }

  .heroDescriptionButton {
    margin-top: 3em;
  }

  .heroDescriptionButton button {
    width: 150px;
    height: 60px;
    margin-right: 2.5em;
  }

  .watchVideoButton .icon {
    font-size: 2em;
    margin-right: 3px;
  }

  .watchVideoButton h1 {
    font-size: 0.9em;
    font-family: var(--tagline-text-font-family);
  }

  .heroImageContainer img {
    height: auto;
    width: 100%;
  }
}

/*======Desktops and Laptops (1280 - 1366 x 768 - 800)========*/

@media (min-width: 1280px) and (max-width: 1366px) and (min-height: 768px) and (max-height: 800px) {
  .showcaseContent {
    width: 80%;
  }

  .heroDescriptionHeader h1 {
    font-size: 1.6em;
  }

  .heroDescriptionTagline {
    width: 90%;
  }
  .heroDescriptionTagline p {
    font-size: 1em;
  }

  .heroDescriptionButton {
    margin-top: 11%;
  }

  .heroDescriptionButton button {
    width: 150px;
    height: 60px;
    margin-right: 2.5em;
    font-size: 0.95em;
  }

  .watchVideoButton .icon {
    font-size: 2em;
    margin-right: 3px;
  }

  .watchVideoButton h1 {
    font-size: 1em;
    font-family: var(--tagline-text-font-family);
  }

  .heroImageContainer img {
    height: auto;
    width: 100%;
  }
}

/*======Desktops and Laptops (1440 -1680  x 900 - 1050)========*/

@media (min-width: 1440px) and (max-width: 1680px) and (min-height: 900px) and (max-height: 1050px) {
  .showcaseContent {
    width: 70%;
    padding-top: 4%;
  }

  .heroDescriptionHeader h1 {
    font-size: 1.7em;
  }

  .heroDescriptionTagline {
    width: 95%;
  }
  .heroDescriptionTagline p {
    font-size: 1.05em;
  }

  .heroDescriptionButton {
    margin-top: 11%;
  }

  .heroDescriptionButton button {
    width: 150px;
    height: 60px;
    margin-right: 2.5em;
    font-size: 0.95em;
  }

  .watchVideoButton .icon {
    font-size: 2em;
    margin-right: 3px;
  }

  .watchVideoButton h1 {
    font-size: 1em;
    font-family: var(--tagline-text-font-family);
  }

  .heroImageContainer img {
    height: auto;
    width: 100%;
  }
}

/*======Desktops and Laptops (1920  x  1080 - 1200)========*/

@media (min-width: 1920px) and (max-width: 1920px) and (min-height: 1080px) and (max-height: 1200px) {
  .showcaseContent {
    width: 70%;
    padding-top: 3.5%;
  }

  .heroDescriptionHeader h1 {
    font-size: 2em;
  }

  .heroDescriptionTagline {
    width: 88%;
  }
  .heroDescriptionTagline p {
    font-size: 1.15em;
  }

  .heroDescriptionButton {
    margin-top: 11%;
  }

  .heroDescriptionButton button {
    width: 150px;
    height: 60px;
    margin-right: 2.5em;
    font-size: 1em;
  }

  .watchVideoButton .icon {
    font-size: 2.5em;
    margin-right: 3px;
  }

  .watchVideoButton h1 {
    font-size: 1.1em;
    font-family: var(--tagline-text-font-family);
  }

  .heroImageContainer img {
    height: auto;
    width: 100%;
  }
}


/*======Desktops and Laptops (2560  x  1440)========*/

@media (min-width: 2560px) and (max-width: 2560px) and (min-height: 1440px) and (max-height: 1440px) {
  .showcaseContent {
    width: 70%;
    padding-top: 3.5%;
  }

  .heroDescriptionHeader h1 {
    font-size: 2.6em;
  }

  .heroDescriptionTagline {
    width: 80%;
  }
  .heroDescriptionTagline p {
    font-size: 1.3em;
  }

  .heroDescriptionButton {
    margin-top: 11%;
  }

  .heroDescriptionButton button {
    width: 200px;
    height: 70px;
    margin-right: 2.5em;
    font-size: 1.2em;
  }

  .watchVideoButton .icon {
    font-size: 3em;
    margin-right: 3px;
  }

  .watchVideoButton h1 {
    font-size: 1.3em;
    font-family: var(--tagline-text-font-family);
  }

  .heroImageContainer img {
    height: auto;
    width: 100%;
  }
}


/*======Desktops and Laptops (3840 - 4096  x  2160 - 2304)========*/

@media (min-width: 3840px) and (max-width: 4096px) and (min-height: 2160px) and (max-height: 2304px) {
  .showcaseContent {
    width: 70%;
    padding-top: 3.5%;
  }

  .heroDescriptionHeader h1 {
    font-size: 3.2em;
  }

  .heroDescriptionTagline {
    width: 80%;
  }
  .heroDescriptionTagline p {
    font-size: 1.7em;
  }

  .heroDescriptionButton {
    margin-top: 11%;
  }

  .heroDescriptionButton button {
    width: 250px;
    height: 80px;
    margin-right: 2.5em;
    font-size: 1.4em;
  }

  .watchVideoButton .icon {
    font-size: 3em;
    margin-right: 3px;
  }

  .watchVideoButton h1 {
    font-size: 1.5em;
    font-family: var(--tagline-text-font-family);
  }

  .heroImageContainer img {
    height: auto;
    width: 100%;
  }
}

/*======Desktops and Laptops (5120  x  2880)========*/

@media (min-width: 5120px) and (max-width: 5120px) and (min-height: 2880px) and (max-height: 2880px) {
  .showcaseContent {
    width: 70%;
    padding-top: 3.5%;
  }

  .heroDescriptionHeader h1 {
    font-size: 4em;
  }

  .heroDescriptionTagline {
    width: 70%;
  }
  .heroDescriptionTagline p {
    font-size: 2em;
  }

  .heroDescriptionButton {
    margin-top: 11%;
  }

  .heroDescriptionButton button {
    width: 300px;
    height: 100px;
    margin-right: 2.5em;
    font-size: 1.7em;
  }

  .watchVideoButton .icon {
    font-size: 3em;
    margin-right: 3px;
  }

  .watchVideoButton h1 {
    font-size: 1.7em;
    font-family: var(--tagline-text-font-family);
  }

  .heroImageContainer img {
    height: auto;
    width: 100%;
  }
}

/*=======Smartphones (375)==========*/
@media (min-width: 375px) and (max-width: 767px) {
  .showcaseContainer {
    height: auto;
  }
  .showcaseContent {
    width: 90%;
    grid-template-columns: 1fr;
    gap: 3em;
  }

  .heroDescriptionHeader h1 {
    font-size: 1.3em;
  }

  .heroDescriptionTagline {
    margin-top: 1em;
    width: 100%;
  }

  .heroDescriptionTagline p {
    font-size: 0.9em;
    font-weight: 100;
  }

  .heroDescriptionButton {
    margin-top: 3em;
  }

  .heroDescriptionButton button {
    width: 140px;
    height: 55px;
    margin-right: 0.9em;
    font-size: 0.8em;
  }

  .watchVideoButton .icon {
    font-size: 2em;
    margin-right: 3px;
  }

  .watchVideoButton h1 {
    font-size: 0.9em;
  }
}
