.teamContainer {
  margin-top: 7%;
}

.teamContainerHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamContainerHeader h1 {
  font-family: sans-serif;
}

.teamContent {
  width: 65%;
  margin: 0 auto;
  margin-top: 4%;
}

.teamBox {
  width: 80%;
  margin: 0 auto;
}

.teamPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamPhoto img {
  width: 45%;
  height: auto;
  border-radius: 50%;
  background-color: #ccc;
}

.teamName {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.teamName h1 {
  font-size: 2em;
  font-family: sans-serif;
  text-transform: uppercase;
}

.teamRole {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.teamRole p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f85940;
  font-weight: 600;
  font-size: 1.2em;
}

.teamRoleDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 1%;
}

.teamRoleDescription p {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  color: #000;
}

.socialHandles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.socialHandles .icon {
  color: #f85940;
  margin-left: 30px;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 5px;
  font-size: 2em;
}

@media (max-width: 600px) {
  .teamContainer {
    margin-top: 15%;
  }

  .teamContainerHeader h1 {
    font-family: sans-serif;
    font-size: 1.1em;
  }

  .teamContent {
    width: 90%;
    margin: 0 auto;
    margin-top: 7%;
  }

  .teamBox {
    width: 100%;
    margin: 0 auto;
  }

  .teamPhoto img {
    width: 70%;
  }

  .teamName {
    margin-top: 10px;
  }

  .teamName h1 {
    font-size: 1.1em;
  }

  .teamRole {
    margin-top: 5px;
  }

  .teamRole p {
    font-size: 1em;
  }

  .teamRoleDescription {
    width: 100%;
	margin-top: 20px;
  }

  .teamRoleDescription p {
    font-size: 0.9em;
  }

  .socialHandles{
	margin-top: 0;
  }

  .socialHandles .icon {
	color: #f85940;
	margin: 15px;
	border: 1px solid #ccc;
	border-radius: 50%;
	padding: 5px;
	font-size: 2em;
  }
  
}
