.container {
   width: auto;
}

.containerHeader {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 5%;
}

.containerHeader h1 {
   font-size: 23px;
   text-transform: uppercase;
   font-family: sans-serif;
}

.containerItems {
   margin-top: 3%;
   width: 60%;
   margin: 2% auto;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 5%;
}

.item {
   background-color: #fff;
   width: 100%;
   border: 1px solid #00796b;
   border-radius: 5px;
}

.item .img {
   width: 50%;
   height: auto;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.item .itemDetails {
   width: 80%;
   height: 15vh;
   background-color: #00796b;
   position: relative;
   margin: -10% auto;
   box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
   border-radius: 5px;
}


.item .itemDetails .itemDetailsOne {
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.item .itemDetails .itemDetailsOne h1 {
   font-size: 25px;
   color: #fff;
}

.item .itemDetails .itemDetailsOne span {
   color: #c1c1c1;
   font-weight: 400;
}

.item .itemDetails .itemDetailsTwo {
   padding: 10px;
   display: grid;
   width: 80%;
   grid-template-columns: 1fr 1fr 1fr auto;
   margin: 4% auto;
}

.item .itemDetails .itemDetailsTwo .icon {
   color: #f85a40;
   border-radius: 50%;
   padding: 3px;
   background-color: #fff;
}


@media (max-width:700px) {
   .containerItems {
      margin-top: 3%;
      width: 85%;
      margin: 10% auto;
      display: grid;
      grid-template-columns: 1fr;
      gap: 5%;
   }

   .containerHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15%;
   }

   .containerHeader h1 {
      font-size: 20px;
   }

   .item .itemDetails {
      width: 80%;
      height: auto;
      background-color: #00796b;
      position: relative;
      margin: -10% auto;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
      border-radius: 5px;
   }

   .item .itemDetails .itemDetailsOne h1 {
      font-size: 19px;
      color: #fff;
      text-wrap: nowrap;
   }

   .item .itemDetails .itemDetailsOne span {
      color: #c1c1c1;
      font-weight: 400;
      font-size: 14px;
   }
}