.welcomeContainer {
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.backgroundImage {
   filter: brightness(50%);
   display: flex;
   justify-content: center;
   align-items: center;
   animation: fadeInSlideUp 2.5s ease-in-out forwards;
}

.backgroundImage .image {
   height: auto;
   width: 70%;
}

@keyframes fadeInSlideUp {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@media (max-width:700px) {
   .backgroundImage .image {
      height: auto;
      width: 90%;
   }

}