.footerContainer {
  margin-top: 10%;
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
}

.footerContent {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding-top: 5%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.sectionOne {
  width: 100%;
}

.sectionOne .header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sectionOne .header img {
  width: 10%;
  height: auto;
}

.sectionOne .header h1 {
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: 900;
  margin-left: 5px;
  text-decoration: none;

}

.sectionOne .description {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}

.sectionOne .description p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #6b6b6b;
  font-size: 1em;
  text-decoration: none;

}

.sectionTwo {
  width: 100%;
}

.sectionTwo .header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sectionTwo .header h1 {
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: 900;
  margin-left: 5px;
  text-decoration: none;

}

.sectionTwo .description {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}

.sectionTwo .description p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #6b6b6b;
  font-size: 1em;
  text-decoration: none;
}

.sectionTwo .socialIcon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.sectionTwo .socialIcon .icon {
  margin-right: 15px;
  color: #6b6b6b;
  cursor: pointer;
}

.sectionThree {
  width: 100%;
}

.sectionThree .header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sectionThree .header h1 {
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: 900;
  margin-left: 5px;
  text-decoration: none;

  color: #000;
}

.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.contact h1 {
  font-size: 1em;
  font-family: sans-serif;
  color: #000;
  text-decoration: none;

}

.contact p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 5px;
  color: #6b6b6b;
  text-decoration: none;

}

.copyright {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.copyright p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #000;
  text-decoration: none;

}

@media (max-width: 600px) {
  .footerContainer {
    margin-top: 20%;
  }
  .footerContent {
    width: 90%;
    grid-template-columns: 1fr;
    padding-top: 20%;
  }

  .sectionOne .header img {
    width: 14%;
    height: auto;
  }

  .sectionOne .header h1 {
    font-family: sans-serif;
    font-size: 1.1em;
  }

  .sectionTwo .header h1 {
    font-family: sans-serif;
    font-size: 1.1em;
  }

  .sectionTwo .description p {
    font-size: 0.9em;
  }

  .sectionOne .description p {
    font-size: 0.9em;
  }

  .sectionThree .header h1 {
    font-family: sans-serif;
    font-size: 1.1em;
  }

  .contact h1 {
    font-size: 0.9em;
  }

  .contact p {
    font-size: 0.9em;
  }

  .copyright {
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
    justify-content: flex-start;
  }

  .copyright p {
    font-size: 0.9em;
  }
}
