.heroContainer {
  width: 100%;
  height: 85vh;
  background: linear-gradient(to left, #f85940, #ffff);
  border-top-right-radius: 40%;
}

.heroContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  gap: 20px;
}

.heroDescriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.heroDescriptionCaption {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.heroDescriptionCaption p {
  text-transform: uppercase;
  font-size: 0.9em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  color: #505050d0;
}

.heroDescriptionHeader {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.heroDescriptionHeader h1 {
  font-size: 3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000;
  font-weight: 600;
}

.heroTagline {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.heroTagline h3 {
  font-size: 1.2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #505050d0;
  font-weight: 100;
}

.heroButton {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.heroButton button {
  width: 230px;
  font-size: 1em;
  height: 70px;
  border: none;
  border-radius: 50px;
  color: #fff;
  font-family: sans-serif;
  cursor: pointer;
  font-weight: 600;
  background: linear-gradient(to right, #f85940, #ffff);
}

.heroButton button:nth-child(1) {
  margin-right: 30px;
}

.heroButton button:nth-child(2) {
  background: linear-gradient(to right, #ad807a, #ffff);
}

.heroImage {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.heroImage img {
  max-width: 100%;
  height: auto;
  animation: shake 3s ease-in-out infinite;
}

@keyframes shake {
  0% {
    transform: translateY(1);
  }
  25% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(1);
  }
  75% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(1);
  }
}

@media (max-width: 600px) {
  .heroContainer {
    height: 83vh;
    border-top-right-radius: 30%;
  }

  .heroContent {
    width: 90%;
    grid-template-columns: 1fr;
    padding-top: 10px;
    gap: 0;
  }

  .heroDescriptionCaption p {
    font-size: 0.6em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .heroDescriptionHeader {
    margin-top: 5px;
  }

  .heroDescriptionHeader h1 {
    font-size: 1.1em;
  }

  .heroTagline {
    margin-top: 15px;
  }

  .heroTagline h3 {
    font-size: 0.8em;
  }

  .heroButton {
    margin-top: 20px;
  }

  .heroButton button {
    width: 200px;
    height: 55px;
    font-size: 0.85em;
  }

  .heroButton .icon {
    font-size: 2.5em;
    border-radius: 50%;
    margin-left: 10px;
  }

  .heroButton button:nth-child(2) {
    margin-left: 10px;
  }

  .heroImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .heroImage img {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
