.serviceContainer {
  width: 100%;
}

.serviceContent {
  width: 65%;
  margin: 0 auto;
  margin-top: 7%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.serviceMainBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.serviceMainBox .header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.serviceMainBox .header h1 {
  font-family: sans-serif;
  font-size: 1.6em;
  font-weight: 700;
}

.serviceMainBox .description {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.serviceMainBox .description p {
  font-size: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #6b6b6b;
}

.serviceMainBox .readMore {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}

.serviceMainBox .readMore button {
  width: 125px;
  height: 50px;
  background: linear-gradient(to right, #f85940, #ffff);
  border: none;
  border-radius: 50px;
  color: #fff;
  font-family: sans-serif;
  cursor: pointer;
  font-weight: 600;
}

.serviceBox {
  border: 1px solid #f1f1f177;
  width: 100%;
  padding: 20px;
}

.serviceBox:hover {
  border: 1px solid #f85a40;
}

.serviceBox .serviceBoxIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.serviceBox:hover .serviceBoxIcon .icon {
  background: linear-gradient(to right, #008374, #f85a40);
  color: #fff;
}

.serviceBox .serviceBoxIcon .icon {
  background-color: #cccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  padding: 7px;
  border-radius: 50%;
}

.serviceBox .header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.serviceBox .header h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5em;
}

.serviceBox .description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.serviceBox .description p {
  text-align: center;
  font-size: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #6b6b6b;
  font-weight: 100;
}

@media (max-width: 600px) {
  .serviceContent {
    width: 90%;
    grid-template-columns: 1fr;
    margin-top: 15%;
  }

  .serviceMainBox .header h1 {
    font-size: 1.2em;
  }

  .serviceMainBox .description {
    margin-top: 15px;
  }

  .serviceMainBox .readMore {
    margin-top: 15px;
  }

  .serviceMainBox .readMore button {
    width: 125px;
    height: 45px;
  }

  .serviceBox .serviceBoxIcon .icon {
    font-size: 3em;
  }

  .serviceBox .header h1 {
    font-size: 1.05em;
  }
  .serviceBox .description {
    margin-top: 15px;
  }
}
