.testimonialContainer {
  width: 100%;
  margin-top: 7%;
}

.testimonialContainer .header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonialContainer .header hr {
  width: 80px;
  margin-right: 10px;
  border: 1px solid #f85a40;
}

.testimonialContainer .header h1 {
  color: #6b6b6b;
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
}

.testimonialContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin: 0 auto;
  margin-top: 2.5%;
}

.box {
  width: 100%;
}

.boxImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxImage img {
  width: 15%;
  height: auto;
  border-radius: 50%;
}

.boxName {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.boxName h1 {
  font-family: sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

.message {
  width: 50%;
  margin: 0 auto;
  margin-top: 2%;
}

.message p {
  text-align: center;
  font-weight: 100;
  color: #6b6b6b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.star .icon {
  color: #f85940;
  animation: blink 2s infinite ease-in-out;
}

@keyframes blink {
  0%,
  100% {
    color: #008374;
  }
  50% {
    color: #f85940;
  }
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5%;
}

.navigation .icon {
  font-size: 3em;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.navigation .icon:hover {
  background-color: #f3f3f3f3;
}

@media (max-width: 600px) {
  .testimonialContainer {
    width: 100;
    margin-top: 30%;
  }
  .testimonialContainer .header h1 {
    font-size: 0.85em;
  }

  .testimonialContainer .header hr {
    width: 50px;
    margin-right: 8px;
  }

  .testimonialContent {
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
  }

  .boxImage img {
    width: 50%;
  }

  .message {
    width: 100%;
    margin-top: 2%;
  }

  .message p {
    font-size: 0.8em;
  }

  .star .icon {
    color: #f85940;
    font-size: 1em;
  }

  .navigation {
    margin-top: 3%;
  }

  .navigation .icon {
    font-size: 2em;
    margin-left: 0px;
    margin-right: 10px;
  }
}
