.topbarContainer {
  width: 100%;
  height: 15vh;
  background-color: #fff;
  top: 0;
  position: sticky;
  z-index: 900;
}

.topbarContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.companyContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.companyContainer img {
  max-width: 90%;
  height: auto;
  margin-right: 10px;
}

.companyName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.companyName h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  text-wrap: nowrap;
  text-transform: uppercase;
}

.companyName p {
  font-size: 1em;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f85940;
}

.navigationContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkContainer a {
  font-size: 1.2em;
  margin-left: 26px;
  text-decoration: none;
  font-weight: 500;
  color: #000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-wrap: nowrap;
}

.activeLink {
  border-bottom: 3px solid #f85940;
}

.navigationButton {
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigationButton button {
  width: 125px;
  height: 50px;
  background: linear-gradient(to right, #f85940, #ffff);
  border: none;
  border-radius: 50px;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
  font-weight: 600;
}

.menuContainer {
  display: none;
}

@media (max-width: 600px) {
  .topbarContainer {
    height: 17vh;
    padding: 0;
    margin: 0;
  }

  .topbarContent {
    width: 90%;
  }

  .companyContainer img {
    width: 28%;
    margin-right: 5px;
  }

  .companyName h1 {
    font-size: 1em;
  }

  .companyName p {
    font-size: 0.7em;
  }

  .navigationContainer {
    display: none;
  }

  .menuContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .menuContainer .icon {
    font-size: 2.5em;
    padding: 5px;
    color: #000;
  }

  .menu {
    position: fixed;
    z-index: 900;
    top: 15vh;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
  }

  .menuContent {
    padding: 30px;
  }

  .menuLink {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .menuLink a {
    margin-bottom: 10%;
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
    font-family: sans-serif;
  }

  .menuButton {
    margin-top: 15%;
  }

  .menuButton button {
    width: 125px;
    height: 50px;
    background: linear-gradient(to right, #f85940, #ffff);
    border: none;
    border-radius: 50px;
    color: #fff;
    font-family: sans-serif;
    cursor: pointer;
    font-weight: 600;
  }
}
