.container{
   width: auto;
}

.containerHeader{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 5%;
}

.containerHeader h1 {
   font-size: 23px;
   text-transform: uppercase;
   font-family: sans-serif;
}


.containerItems {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   width: 60%;
   gap: 30px;
   margin: 1% auto;
}

.containerItem {
   width: 350px;
   height: 240px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
   background-color: #00796b;
}


.container_button {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 3%;
}

.container_button button {
   width: 200px;
   height: 40px;
   background-color: #008374;
   color: #fff;
   border: none;
   border-radius: 5px;
   font-size: 17px;
}

.container_item_icon {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 4%;
}

.container_item_icon .icon {
   font-size: 60px;
   color: #97bfff;
}

.container_item_header {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 2%;
}

.container_item_header h1 {
   font-size: 16px;
   text-transform: uppercase;
   font-family: sans-serif;
   color: #f85a40;
}

.container_item_text {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 90%;
   margin: 10px auto;
}

.container_item_text p {
   font-size: 14px;
   font-family: serif;
   text-align: center;
   color: #dbdbdb;
}


@media (max-width:700px) {
   .container {
      margin-top: 20%;
   }

   .containerHeader h1 {
      font-size: 20px;
   }
   .containerItems{
      grid-template-columns: auto;
      width: 90%;
   }

   .containerItem{
      width: auto;
   }
   .container_button {
      margin-top: 10%;
   }
   
   .container_button button {
      width: 200px;
      height: 40px;
   }
   
}