.container {
   width: auto;
}

.containerHeader {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 5%;
}

.containerHeader h1 {
   font-size: 23px;
   text-transform: uppercase;
   font-family: sans-serif;
}

.containerOne {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
}

.containerOne .leftItems p {
   font-family: serif;
   margin-bottom: 7%;
}

.containerItems {
   display: grid;
   width: 60%;
   grid-template-columns: 1fr 1fr;
   gap: 30px;
   margin: 3% auto;
}

.rightItems {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #008374;
}

.rightItems .img {
   width: 100%;
   height: auto;
   padding: 20px;

}

@media (max-width: 700px) {
   .container {
      margin-top: 25%;
   }

   .containerItems {
      grid-template-columns: auto;
      width: 90%;
   }


   .rightItems .img {
      width: 100%;
      height: auto;
      padding: 25px;
   }
}